<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<link href='http://fonts.googleapis.com/css?family=Michroma|Arimo|Ubuntu|Play|Doppio+One|Quantico' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

 <title>Neil Girardi's Web Portfolio</title>
 
 <meta name="description" content="Neil Girardi is a software engineer in New York City who specializes in object-oriented web programming, pixel-perfect front-end development, Ajax, and Android applications.">

 <meta name="author" content="">
 <meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="/cdn/css/style.css" />
<link rel="stylesheet" href="/cdn/css/jquery-ui.css" />
</head><div id="nav">
    <div class="grid_12 centered">
        <nav>
            <ul class="arimo">
                <li><a href="portfolio">Portfolio</a></li>

                <li><a href="resume">Resume</a></li>
                <li><a href="bio">Bio</a></li>
                <li><a class="portfolio_link" href="/test">Contact</a></li>
            </ul>
        </nav>
        
        <div id="search_box" class="pull_right" >
            <input id="search_input" class="grid_3 rounded" type="text" placeholder="search" /> 
            <span class="search_icon"></span>

        </div>
        
    </div>
</div> <div id="site_container" class="centered overflow">
     <div id="modal_container"></div>
     <div class="row">
         <h2>This is the main heading</h2>         
        <p class="grid_6">Vivamus a ante odio, <a class="portfolio_link" href="/test/">fermentum</a> adipiscing tellus. Aliquam euismod euismod ipsum id bibendum. In mollis mattis orci in mollis. Praesent in dolor eu magna fringilla facilisis at eu tortor. Ut pharetra pharetra arcu, nec egestas libero laoreet vel. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam id velit id urna facilisis commodo. Nullam fringilla dictum leo in interdum. Mauris convallis risus id orci lacinia nec blandit enim ultrices.</p>

        <p class="grid_6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum porta lacus, ac suscipit sem iaculis et. Vestibulum molestie dignissim dolor, vel congue eros luctus ultricies. Quisque porta adipiscing pulvinar. Sed in arcu a erat lobortis elementum. Cras lobortis tincidunt diam vitae bibendum. Vestibulum facilisis nulla at nisi mollis ullamcorper. Nunc elementum gravida aliquam. Quisque tempor ligula at nunc tincidunt a dapibus urna auctor. 
        </p>
         <div id="hero_box" class="column grid_12 borders_thin">
         </div>
     </div>
    
    <div class="row">
        <h2 class="arimo">This is a heading</h2>
        <p class="grid_6">Quisque pellentesque euismod massa, eget vehicula sapien ullamcorper <a href="/">feugiat</a>. Vivamus nec turpis sit amet augue facilisis sollicitudin. Praesent tristique mollis mauris ultricies hendrerit. Aenean tincidunt, sapien id ullamcorper suscipit, purus metus lacinia ante, quis accumsan velit leo a eros. Praesent id tellus ut leo fringilla dictum vitae a tortor. Nam et libero lectus, in vestibulum est. Aenean vitae dapibus purus. </p>

        <p class="grid_6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse dictum volutpat neque sed mattis. Sed ac neque mauris. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum interdum nunc quis nunc imperdiet commodo. Nunc vitae ipsum eros, viverra suscipit felis. Lorem ipsum dolor sit amet, consectetur adipiscing. </p>
     </div>
     
     <div id="portfolio_sliders" class="row">
         <div class="box grid_4 borders_thin"></div>
         <div class="box grid_4 borders_thin"></div>
         <div class="box grid_4 borders_thin"></div> 
     </div>   
     
 </div> <!-- end of #siteContainer --><footer>
    <div id="footer" class="grid_12 centered">

        <h2>This is the footer</h2>
    </div>
</footer>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="/cdn/js/global.js"></script>

<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]--><div id="header">

    <header>
        <div id="masthead" class="grid_12 centered">
            <a href="/">
                <h1>
                    <span class="name michroma">Neil Girardi</span>
                    <span class="title arimo">Software Engineer</span>
                </h1>
                <ul class="skill_list pull_right">

                    <li>Ajax</li>
                    <li>Android</li>
                    <li>CSS</li>
                    <li>HTML</li>
                    <li>Java</li>
                    <li>JavaScript</li>

                    <li>jQuery</li>
                    <li>MySQL</li>
                    <li>PHP</li>
                </ul>
            </a>    
        </div>
    </header>
</div>